.cultural {
  width: 100%;
  height: 100vh;
}

.cultural-bg {
  position: relative;   
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cultural-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cult {
  position: absolute;   
  top: 25%;
  right: 12%;
  z-index: 5;
}

.cult-image {
  width: 35vw;         
  height: auto;
}

.left-decoration {
  position: absolute;   
  top: -10%;
  left: 0;
  z-index: 10;
}

.left-decor-image{
    width: 55vw;         
    height: auto;
}

.right-decoration {
  position: absolute;   
  top: -5%;
  right: 0;
  z-index: 5;
}

.right-decor-image{
    width: 70vw;         
    height: auto;
}

.cult-wrapper {
  position: absolute;
  top: 32%;
  left: 12%;
  color: white;
  z-index: 10;
}

.cult-heading {
  font-family: 'Playfair Display', serif;
  font-size: 5vw; 
  letter-spacing: 0.18em;             
  font-weight: 700;
  line-height: 1;
}

.cult-subheading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.cult-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.3em;
  margin: 0 1vw;
}

.line {
  width: 6vw;   
  height: 1.5px;
  background-color: white;
  opacity: 0.85;
}

.cult-events {
  position: absolute;
  top: 52%;
  left: 12%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem 2.2rem;
  width: 36vw;
  z-index: 10;
  margin-top: 2vw;
}

.event-item {
  background: #ffc529; 
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2vw;
  letter-spacing: 0.18em;

  height: 4vw;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.informal{
  width: 100%;
  height: 100vh;
  position: relative;
}

.informal-bg {
  position: relative;   
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.informal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.informal-mask {
  position: absolute;   
  top: 20%;
  left: 12%;
  z-index: 5;
}

.informal-mask-image {
  width: 35vw;         
  height: auto;
}


.informal-wrapper {
  position: absolute;
  top: 25%;
  right: 12%;
  color: white;
  z-index: 10;
}

.informal-heading {
  font-family: 'Playfair Display', serif;
  font-size: 5vw; 
  letter-spacing: 0.18em;             
  font-weight: 700;
  line-height: 1;
}

.informal-subheading-wrapper {  
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.informal-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw; 
  letter-spacing: 0.3em;
  margin: 0 1vw;
}

.informal-events {
  position: absolute;
  top: 45%;
  right: 12%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem 2.2rem;
  width: 36vw;
  z-index: 10;
  margin-top: 2vw;
}

.pronite{
  width: 100%;
  height: 100vh;
  position: relative;
}

.pronite-bg {
  position: relative;   
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pronite-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pronite-wrapper {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  z-index: 10;
}

.pronite-heading {
  font-family: 'Playfair Display', serif;
  font-size: 5vw; 
  letter-spacing: 0.18em;             
  font-weight: 700;
  line-height: 1;
  margin-left: 10%;
}

.pronite-subheading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.pronite-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.3em;
  margin: 0 1vw;
}

.pronite-events {
  position: absolute;
  top: 42%;
  left: 10%;
  font-size: 3vw;
  margin-left: 6%;
  color:white;
  margin-top: 2vw;
}

.flagship{
  width: 100%;
  height: 100vh;
  position: relative;
}

.flagship-bg {
  position: relative;   
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flagship-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.flagship-mask {
  position: absolute;   
  top: 23%;
  left: 12%;
  z-index: 5;
}

.flagship-mask-image {
  width: 30vw;         
  height: auto;
}

.flagship-wrapper {
  position: absolute;
  top: 30%;
  right: 12%;
  color: white;
  z-index: 10;
}

.flagship-heading {
  font-family: 'Playfair Display', serif;
  font-size: 5vw; 
  letter-spacing: 0.18em;             
  font-weight: 700;
  line-height: 1;
}

.flagship-subheading-wrapper {  
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.flagship-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw; 
  letter-spacing: 0.3em;
  margin: 0 1vw;
}

.flagship-events {
  position: absolute;
  top: 45%;
  right: 12%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem 2.2rem;
  width: 36vw;
  z-index: 10;
  margin-top: 2vw;
}

.online{
  width: 100%;
  height: 100vh;
  position: relative;
}

.online-bg {
  position: relative;   
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.online-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.online-mask {
  position: absolute;   
  top: 3%;
  right: 12%;
  z-index: 5;
}

.online-mask-image {
  width: 35vw;         
  height: auto;
}

.online-wrapper {
  position: absolute;
  top: 25%;
  left: 12%;
  color: white;
  z-index: 10;
}

.online-heading {
  font-family: 'Playfair Display', serif;
  font-size: 5vw; 
  letter-spacing: 0.18em;             
  font-weight: 700;
  line-height: 1;
  margin-left: 12%;
}

.online-subheading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.online-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.3em;
  margin: 0 1vw;
}

.online-events {
  position: absolute;
  top: 45%;
  left: 12%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem 2.2rem;
  width: 36vw;
  z-index: 10;
  margin-top: 2vw;
}

